/node_modules
/npm-debug.log
.DS_Store
/dist
/_dev
/coverage
package-lock.json
/test/ts/**/*.js

# Additional bundles
/devtools.js
/devtools.js.map
/debug.js
/debug.js.map

# Editor and IDE configuration
.vscode/
.idea/
