name: Report Results to PR

on:
  # The pull_request event can't write comments for PRs from forks so using this
  # workflow_run workflow as a workaround
  workflow_run:
    workflows: ['Benchmarks']
    branches: ['**']
    types:
      - completed
      - requested

jobs:
  report_running:
    name: Report benchmarks are in-progress
    runs-on: ubuntu-latest
    # Only add the "benchmarks are running" text when a workflow_run is
    # requested (a.k.a starting)
    if: ${{ github.event.action == 'requested' }}
    steps:
      - name: Report Tachometer Running
        uses: andrewiggins/tachometer-reporter-action@v2
        with:
          # Set initialize to true so this action just creates the comment or
          # adds the "benchmarks are running" text
          initialize: true

  report_results:
    name: Report benchmark results
    runs-on: ubuntu-latest
    # Only run this job if the event action was "completed" and the triggering
    # workflow_run was successful
    if: ${{ github.event.action == 'completed' && github.event.workflow_run.conclusion == 'success' }}
    steps:
      # Download the artifact from the triggering workflow that contains the
      # Tachometer results to report
      - uses: dawidd6/action-download-artifact@v2
        with:
          workflow: ${{ github.event.workflow.id }}
          run_id: ${{ github.event.workflow_run.id }}
          name: results
          path: results

      # Create/update the comment with the latest results
      - name: Report Tachometer Results
        uses: andrewiggins/tachometer-reporter-action@v2
        with:
          path: results/*.json
          base-bench-name: preact-main
          pr-bench-name: preact-local
          summarize: 'duration, usedJSHeapSize'
